<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRP-Rvk5v0RZsxSVJUTRo054UppcJ5z3u6vjDNnndzRkbQcqPw9" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>SP id : 1</p>
                <p><a ng-click="goToPage('home.detail',{id : 1})" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRP-Rvk5v0RZsxSVJUTRo054UppcJ5z3u6vjDNnndzRkbQcqPw9" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>SP id : 2</p>
                <p><a ng-click="goToPage('home.detail',{id : 2})" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRP-Rvk5v0RZsxSVJUTRo054UppcJ5z3u6vjDNnndzRkbQcqPw9" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>SP id : 3</p>
                <p><a ng-click="goToPage('home.detail',{id : 3})" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

</div>