<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container text-center">

    <a href="/users" class="btn btn-default">Users</a>
    <a href="/posts" class="btn btn-default">Posts</a>
    <a href="/category" class="btn btn-default">Categories</a>
    <a href="/comments" class="btn btn-default">Comments</a>
    <a href="/userSchema2" class="btn btn-default">userSchema2</a>
</div>

</div>
</body>
</html>