<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container text-center">

        <a href="/login" class="btn btn-default">Local Login</a>
        <a href="/signup" class="btn btn-default">Local Signup</a>
    </div>

</div>
</body>
</html>