<div style="min-height: 500px" dw-loading="dash" dw-loading-options="{text: 'Loading post...'}" class="users-list">


    <div class="alert alert-success" ng-show="checkPost" role="alert">  <i style="margin-bottom: 20px">Bạn chưa có bải viết nào ấn <strong>
        <a href="">vào đây</a></strong> để tạo vào
        viết</i></div>
    <table class="table table-hover">
        <tr>
            <td>STT</td>
            <td>Tiêu đề</td>

            <td>Danh mục</td>
            <td>Lượt xem</td>
            <td>Bình luận</td>
            <td>Chỉnh sửa</td>
            <td>Xoá</td>
        </tr>
        <tr ng-repeat="post in posts">
            <td>{{$index}}</td>
            <td>
                {{post.title}}
            </td>

            <td> {{post.Category.Category}}
            </td>
            <td> {{post.views}}</td>
            <td> {{post.totalComment}}</td>
            <td><i class="glyphicon glyphicon-edit"></i></td>

            <td><i class="glyphicon glyphicon-remove"></i></td>
        </tr>

    </table>
</div>