<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../images/product-default.jpg" alt="san-pham">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a href="#" class="btn btn-primary" role="button">Thêm</a> <a href="#" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../images/product-default.jpg" alt="san-pham">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a href="#" class="btn btn-primary" role="button">Thêm</a> <a href="#" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../images/product-default.jpg" alt="san-pham">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a href="#" class="btn btn-primary" role="button">Thêm</a> <a href="#" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../images/product-default.jpg" alt="san-pham">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a href="#" class="btn btn-primary" role="button">Thêm</a> <a href="#" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../images/product-default.jpg" alt="san-pham">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a href="#" class="btn btn-primary" role="button">Thêm</a> <a href="#" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../images/product-default.jpg" alt="san-pham">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a href="#" class="btn btn-primary" role="button">Thêm</a> <a href="#" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../images/product-default.jpg" alt="san-pham">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a href="#" class="btn btn-primary" role="button">Thêm</a> <a href="#" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="../images/product-default.jpg" alt="san-pham">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a href="#" class="btn btn-primary" role="button">Thêm</a> <a href="#" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>

</div>