<dev class="container">
    <div class="post">
        <h2><a>{{post.title}}</a></h2>

        <div><span am-time-ago="post.CreateAt" class="date"></span><span class="categories">Views: {{post.views}}</span>
        </div>
        <div class="description">
            <p>
                {{post.content}}
            </p>
        </div>
        <div id="comments">
            <img src="images/title3.gif" alt="" width="216" height="39"/><br/>

            <div class="inner_copy"><a href="http://www.bestfreetemplates.org/">free templates</a><a
                    href="http://www.bannermoz.com/">banner templates</a></div>
            <div class="comment row">
                <div class="avatar col-md-2">
                    <img src="images/avatar1.jpg" alt="" width="80" height="80"/><br/>
                    <span>Name User</span><br/>
                    April 15th
                </div>
                <div class="col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipi scing elit.Mauris urna urna, varius et, interdum
                        a, tincidunt quis, libero. Aenean sit amturpis. Maecenas hendrerit, massa ac laoreet iaculipede
                        mnisl ullamcorpermassa, cosectetuer feipsum eget pede. Donec nonummy, tellus er sodales enim, in
                        tincidunmauris in odio. </p>
                </div>
            </div>
            <div id="add" class="row">
                <img src="images/title4.gif" alt="" width="216" height="47" class="title"/><br/>

                <div class="col-md-2">

                    <div class="avatar">
                        <img src="images/avatar2.gif" alt="" width="80" height="80"/><br/>
                        <span>Name User</span><br/>
                        April 12th
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form">
                        <form action="#">
                            <textarea class="form-control">Your Message...</textarea>
                            <input class="form-control" type="text" value="Name"/>
                            <input class="form-control" type="text" value="E-mail"/>
                            <input class="form-control" type="text" value="URL (Optional)"/>
                            <a href="#"><img src="images/button.gif" alt="" width="94" height="27"/></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dev>