<div class="container">
    <div style="overflow: hidden; opacity: 0; width: 0px; height:0px;"><img src="../images/user1.jpg"/></div>

    <div class="col-md-12">
        <div style="margin-bottom: 20px;">
            <button class="btn btn-default" ng-click="showEdit =! showEdit">Chỉnh sửa</button>
            <button class="btn btn-primary">Xóa sản phẩm</button>
            <button class="btn btn-danger" ng-click="goToPage('index')">Quay lại</button>
        </div>
    </div>
    <div class="col-md-6">

        <div>
            <div class="thumbnail">
                <img src="{{getUrlImages(item.listMedia)}}" alt="{{item.title}}">

                <div class="caption">
                    <h3 ng-hide="quickEdit" ng-click="quickEdit = true">{{item.title}}</h3>

                    <div style="margin: 11px -15px" ng-show="quickEdit">
                        <div class="col-xs-8">
                            <input ng-enter="updateItem(item);quickEdit = false" type="text" ng-model="item.title" class="form-control"/>
                        </div>
                        <button class="btn btn-primary" ng-click="updateItem(item)">OK</button>
                        <button class="btn-default btn" ng-click="quickEdit = false">Cancel</button>
                    </div>
                    <strong class="label label-danger">Giá : {{item.price | currencyVND : "" }}</strong>

                    <p>{{item.desc}}</p>
                    <p><a class="btn btn-primary" role="button" ng-click="buy(item)">Mua <span ng-if="item.countCart > 0" class="badge">{{item.countCart}}</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" ng-show="showEdit">


        <form role="form">
            <div class="form-group">
                <label for="nameProducts">Tên sản phẩm</label>
                <input type="text" class="form-control" id="nameProducts" ng-model="item.title"
                       placeholder="Nhập tên sản phẩm chỉnh sửa">
            </div>
            <div class="form-group">
                <label for="price">Giá thành</label>
                <input type="text" class="form-control" id="price" ng-model="item.price" placeholder="Giá sản phẩm">
            </div>
            <div class="form-group">
                <label for="desc">Miêu tả</label>
                <textarea id="desc" class="form-control" id="" cols="30" rows="10" ng-model="item.desc"></textarea>
            </div>
        </form>

        <button class="btn btn-primary" id="notification-trigger" ng-click="updateItem(item)" style="margin-top: 10px">
            Câp nhật
        </button>
    </div>
</div>
