<dev class="container">
    <div class="post">
        <h2><a>{{post.title}}</a></h2>

        <div><span am-time-ago="post.CreateAt" class="date"></span><span class="categories">Xem: {{post.views}} | Tác giả {{post.Author.displayName || post.Author.email}}</span>
        </div>
        <div class="description">
            <div style="font-size: 15px;" ng-bind-html="post.content">

         </div>
        </div>
        <div id="comments" style="width: 100%;">
            <img src="../images/title3.gif" alt="" width="216" height="39"/><br/>


            <div class="comment row" ng-repeat="user in userComments" style="width: 100%;">
                <div class="avatar col-md-2">
                    <img src="../images/avatar1.jpg" alt="" width="50" height="50"/><br/>
                    <span>{{user.Author.displayName || user.Author.email}}</span><br/>
                    <span am-time-ago="user.CreateAt"></span>
                </div>
                <div class="col-md-10">
                    <strong style="margin-left: 20px;
font-size: 14px;">Tiêu đê : {{user.title}}</strong>

                    <p style="font-size: 14px;">{{user.comments}} </p>
                </div>
            </div>
            <div id="add" class="row">

                <img src="../images/title4.gif" alt="" width="216" height="47" class="title"/><br/>
                <i style="margin-left: 10px" ng-hide="isAuthenticated()"><strong><a ui-sref="login">Đăng
                    nhập</a></strong> để bình luận!</i>

                <div ng-show="isAuthenticated()">

                    <div class="col-md-2">

                        <div class="avatar">
                            <img src="images/avatar2.gif" alt="" width="80" height="80"/><br/>
                            <span>{{userData.displayName || userData.email}}</span><br/>
                            now
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form" >
                            <form name="commentUser">
                                <input class="form-control" type="text" placeholder="Title" ng-model="cmt.title" required/>
                                <textarea class="form-control" ng-model="cmt.comments" required></textarea>
<!--
                                <a ng-disabled="commentUser.$invalid" ><img src="images/button.gif" alt="" width="94"
                                                                   height="27"/></a>-->
                                <button id="notification-trigger" class="btn btn-primary" ng-click="addComment(cmt)" ng-disabled="commentUser.$invalid"><i class="glyphicon glyphicon-pencil"></i> Binh luận</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dev>