<form class="form-inline text-center login" role="form">
    <h1><i class="glyphicon glyphicon-lock"></i> Đăng nhập</h1>
    <i>{{notify}}</i>

    <div class="form-group">
        <div class="input-group" style="margin-left: -3px;">
            <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
            <input class="form-control" type="email" placeholder="Email" ng-model="user.email"/>
        </div>
    </div>


    <div style="margin-top: 10px" class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></div>
            <input class="form-control" type="password" placeholder="Mật Khẩu" ng-model="user.password"/>
        </div>
    </div>
    <br/>

   <div style="margin-top: 15px">
       <div class="checkbox">
           <label>
               <input type="checkbox"> Ghi nhớ
           </label>
       </div>

       <button type="submit" ng-click="login(user)" class="btn btn-default">Đăng nhập</button>
      <!-- <button type="submit" ng-click="$state.go('register')" class="btn btn-info">Đăng ký</button>-->

   </div>

    <a ui-sref="register" style="margin-top: 10px;display: block">Bạn chưa có tài khoản <strong>Đăng ký</strong> ngay</a>
    <hr/>
    <div>
        <button style="width: 100%" class="btn btn-danger" ng-click="authenticate('google')">Sign in with Google
        </button>
        <button style="width: 100%;margin-top: 5px" class="btn btn-primary" ng-click="authenticate('facebook')">Sign in
            with Facebook
        </button>
    </div>

</form><!-- form -->
