<div id="content" class="container">
    <div id="posts" class="col-md-8">
      <ui-view></ui-view>
    </div>
    <div id="sidebar" class="col-md-4">
        <div class="list">
            <h3>Category</h3>
            <ul>
                <li><a href="#">animation</a></li>
                <li><a href="#">magazines</a></li>
                <li><a href="#">architecture</a></li>
                <li><a href="#">news</a></li>
                <li><a href="#">art</a></li>
                <li><a href="#">photography</a></li>
                <li><a href="#">blogs</a></li>
                <li><a href="#">product design</a></li>

            </ul>
            <h3>Comments</h3>
            <ul>
                <li><a href="#">January</a></li>
                <li><a href="#">July</a></li>
                <li><a href="#">February</a></li>
                <li><a href="#">August</a></li>
                <li><a href="#">March</a></li>
                <li><a href="#">September</a></li>

            </ul>
        </div>
    </div>
</div>
